.column {
  background: var(--COLOR-GRAY-DARK);
  min-height: 20rem;
  color: #fff;
  width: 33%;
  max-width: 20rem;
  /*margin: 0 0.5rem;*/
  margin-top: 5rem;
  margin-left: 1rem;
  border-radius: 7px;
  padding: .5rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  transition: box-shadow 0.3s ease;
}

.column.drop {
  box-shadow: 0 0 20px rgba(0, 245, 200, 0.7);
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.titleWrapper img:hover {
  background: green;
  border-radius: 50%;
  cursor: pointer;
}

.Modal {
  position: absolute;
  background: rgb(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modalContent {
  background: white;
  position: absolute;
  z-index: 1;
  padding: 1rem;
  height: 5rem;
  width: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
